.left_column{

    margin-right: 170px;}


.right_column{

    float: right;

    width: 160px;}



#nav_container {

    list-style-type:none;

    margin-bottom: 15px;

    background: grey;}


#nav_container > li{

    display: inline-block;

    text-decoration: none;}



#nav_container > li > a{display: inline-block;

  padding:5px;}



#nav_container > li > a:hover{

  background: green;
}